body {
        max-width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #f1f1f1;
        background: url('../assets/images/booklogo4.jpg') no-repeat center center fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}


body {
    background-color: #e8f5e9;
    color: #333;
}

header {
    color: #2d572c;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}  

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #2d572c;
    text-decoration: none;
    font-weight: lighter;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #4f854f;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4f854f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #4f854f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4f854f;
    color: #fff;
}

@media (max-width: 768px) {
   main {
    width: 95%;
   } 
}